<%= form_with(model: article) do |form| %>
  <% if article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
        <% article.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% categories = Category.all %>
  <div class="field form-group">
    <%= form.label "Category" %>
    <%= select_tag "article[#{:category_id}]", options_from_collection_for_select(categories, "id", "name"), class:"form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :title %>
    <%= form.text_field :title, class:"form-control", minlength:6%>
  </div>

  <div class="field form-group">
    <%= form.label :text %>
    <%= form.text_area :text, class:"form-control", minlength:20 %>
  </div>

  <div class="field form-group">
    <%= form.label :image %>
    <%= select_tag "article[#{:image}]", options_for_select(["MI6.jpg","Star_Wars.jpg","Star_Trek.jpg","James_Bond.jpg","Dumb_Dumber.jpg","30_minutes.jpg","Black_Panther.jpg","Dragon.jpg","GI_Joe.jpg","Home_Alone.jpg","Indiana_Jones.jpg","Infinity_War.jpg","Joker.jpg","Jumanji.jpg","Justice_League.jpg","Life.jpg","Legend.jpg","Looper.jpg","Monsters.jpg","Murder_Mystery.jpg","Outside_Wire.jpg","Pacific_Rim.jpg","Shutter_Island.jpg","Inception.jpg"]), class:"form-control" %>
  </div>

  <div class="actions">
    <%= form.submit "Post Article", class:"btn white bg-orange" %>
  </div>
<% end %>
