<p id="notice"><%= notice %></p>
<div class="cover">
  <span class="choose bg-orange white">TOP RANKED</span>
      <%= link_to article_path(@top_article.id) do %>
        <%
=begin%>
 <%= image_tag @top_article.image.downcase, class:'cover-img full' %> 
<%
=end%>
        <div class="cover-gradient position-absolute full"></div>
        <div class="cover-text p-3">
            <h3 class="orange"><%= @top_article.title %></h3>
            <h6 class="text-nowrap"> <%= @top_article.text %> </h6>
        </div>
      <% end %>
  </div>
  <div class="cards-holder d-flex flex-row">
    <% @categories.each do |cat| %>
    <% if !cat.articles.last.nil? %>
      <div class="my-card ">
      <%= link_to article_path(cat.articles.last.id) do %>
          <%
=begin%>
 <%= image_tag "#{cat.articles.last.image.downcase}", class:'cover-img full' %> 
<%
=end%>
          <div class="cover-gradient position-absolute"></div>
          <div class="my-card-text p-3">
              <h3 class="my-card-cat"><%= cat.name.capitalize %></h3>
              <h4><%= cat.articles.last.title %></h4>
          </div>
      <% end %> 
      </div>
    <% end %>    
    <% end %>
</div>
<h1>Articles</h1>
<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <p><%=article.title%></p>
        <td><%= link_to 'Show', article %> </td>
        <td><%= link_to 'Edit', edit_article_path(article) %> </td>
        <td><%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
